<%- include ("partials/header") -%>
	<div class="homeHeader" style="background-image:url(<%=bucket%>/images/homeHeader.jpg);">
		<div class="overlay"></div>
		<div class="contentWidth">
			<div class="titleWrap">
				<h1 class="site-title">MobaCloud</h1>
				<h2 class="site-description">A web based Operator Training Simulator accessible through a web browser which allows process operators or students to practice and enhance their skills from anywhere on any device and allows managers or teachers to track progress on any Learning Management Systems</h2>
				<div class="buttonsWrap">
					<div class="button demo">Start Demo</div>
					<div class="button contact">Contact</div>
				</div>
				<div class="testimonial">
					<div class="stars">
						<img src="<%=bucket%>/images/star.png">
						<img src="<%=bucket%>/images/star.png">
						<img src="<%=bucket%>/images/star.png">
						<img src="<%=bucket%>/images/star.png">
						<img src="<%=bucket%>/images/star.png">
					</div>
					<div class="box">
						<div class="border"></div>
						<p>Cloud based solution for Operator Training that connects to any LMS.</p>
					</div>
					<div class="box">
						<div class="border"></div>
						<p>For industries and schools, train anywhere anytime.</p>
					</div>
				</div>
				<div class="review">
					<div class="image">
						<img src="<%=bucket%>/images/jasper.jpeg">
					</div>
					<div class="quoteWrap">
						<div class="quote">"The best simulation software for process operators."</div>
						<div class="signature">Keen Jansen <span>(Onderweijs)</span></div>
					</div>
				</div>
			</div>
			<div class="imagesWrap">
				<div class="wrap">
					<div class="image high">
						<img src="<%=bucket%>/images/home1.jpg">
					</div>
					<div class="image square">
						<img src="<%=bucket%>/images/home2.jpg">
					</div>
				</div>
				<div class="wrap">
					<div class="image square">
						<img src="<%=bucket%>/images/home4.jpg">
					</div>
					<div class="image high">
						<img src="<%=bucket%>/images/home3.jpg">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="white titleText" style="margin-top:83px">
		<div class="contentWidth">
			<div class="title">A unique solution for highly adaptable simulations on any device.</div>
			<div class="text">Process Operator Training simulator in the cloud that can be used both in Industry and in Schools. Give your staff the right tool to produce an amazing generation of process operators.</div>
		</div>
		<div class="topFade"></div>
		<div class="bottomFade"></div>
	</div>
	<div class="collage" style="background-image:url(<%=bucket%>/images/industry.jpeg);">
		<div class="contentWidth">
			<div class="imageWrap">
				<img src="<%=bucket%>/images/laptop.png">
			</div>
		</div>
	</div>
	<div class="trioBoxes">
		<div class="buttonWrap">
			<div class="button">Start demo</div>
		</div>
		<div class="contentWidth">
			<div class="boxes">
				<div class="box">
					<div class="icon"><img src="<%=bucket%>/images/cloudIcon.png"></div>
					<div class="title">Toegankelijkheid</div>
					<div class="text">Full cloud solution</div>
				</div>
				<div class="box">
					<div class="icon"><img src="<%=bucket%>/images/managerIcon.png"></div>
					<div class="title">Efficiënt</div>
					<div class="text">Right tool for managers and teachers</div>
				</div>
				<div class="box">
					<div class="icon"><img src="<%=bucket%>/images/educationIcon.png"></div>
					<div class="title">Verbeterd onderwijs</div>
					<div class="text">Right tool for managers and teachers</div>
				</div>
			</div>	
		</div>
	</div>
	<div class="lightblue description">
		<div class="contentWidth">
			<div class="textWrap">
				<div class="testimonial">
					<div class="stars">
						<img src="<%=bucket%>/images/star.png">
						<img src="<%=bucket%>/images/star.png">
						<img src="<%=bucket%>/images/star.png">
						<img src="<%=bucket%>/images/star.png">
						<img src="<%=bucket%>/images/star.png">
					</div>
					<div class="box">
						<div class="border"></div>
						<p>Cloud based solution for Operator Training that connects to any LMS.</p>
					</div>
					<div class="box">
						<div class="border"></div>
						<p>For industries and schools, train anywhere anytime.</p>
					</div>
				</div>
				<div class="textBox">
					<div class="title">Learning</div>
					<div class="text">Give students the right tool to get real life experience on process control either in the classrom or at home.</div>
				</div>
				<div class="textBox">
					<div class="title">Training</div>
					<div class="text">Give your process operators the right tool to keep their operating skills sharp without the need for an OTS room.</div>
				</div>
				<div class="textBox">
					<div class="title">Tracking progress</div>
					<div class="text">Track learning progress on any learning management system.</div>
				</div>
			</div>
			<div class="imagesWrap">
				<div class="mainImage">
					<img src="<%=bucket%>/images/description1.jpg">
				</div>
				<div class="subImages">
					<div class="subImage">
						<img src="<%=bucket%>/images/description2.jpg">
					</div>
					<div class="subImage">
						<img src="<%=bucket%>/images/description3.jpg">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="white licensing">
		<div class="contentWidth">
			<div class="sectionTitle">Licensing</div>
			<div class="boxes">
				<div class="box">
					<div class="title">Student</div>
					<div class="boxDescription">An individual student annual license</div>
					<div class="price">120&euro;<span>/year</span></div>
					<div class="buttonWrap">
						<div class="button">Get started</div>
					</div>
					<div class="attributes">
						<div class="attribute">
							<div class="icon"><img src="<%=bucket%>/images/checkmarkIcon.png"></div>
							<div class="name">1 floating license</div>
						</div>
						<div class="attribute">
							<div class="icon"><img src="<%=bucket%>/images/checkmarkIcon.png"></div>
							<div class="name">5 modules with eLeanings</div>
						</div>
					</div>
				</div>
				<div class="box popular">
					<div class="title">Classroom</div>
					<div class="boxDescription">25 students annual license</div>
					<div class="price">500&euro;<span>/year</span></div>
					<div class="buttonWrap">
						<div class="button">Get started</div>
					</div>
					<div class="attributes">
						<div class="attribute">
							<div class="icon"><img src="<%=bucket%>/images/checkmarkIcon.png"></div>
							<div class="name">25 floating licenses</div>
						</div>
						<div class="attribute">
							<div class="icon"><img src="<%=bucket%>/images/checkmarkIcon.png"></div>
							<div class="name">5 modules with eLeanings</div>
						</div>
						<div class="attribute">
							<div class="icon"><img src="<%=bucket%>/images/checkmarkIcon.png"></div>
							<div class="name">Connection to Learning management systems</div>
						</div>
					</div>
					<div class="mostPopular">MOST POPULAR</div>
				</div>
				<div class="box">
					<div class="title">Industrial</div>
					<div class="boxDescription">License is used for commercial purposes.</div>
					<div class="price">Contact us</div>
					<div class="buttonWrap">
						<div class="button">Get started</div>
					</div>
					<div class="attributes">
						<div class="attribute">
							<div class="icon"><img src="<%=bucket%>/images/checkmarkIcon.png"></div>
							<div class="name">Any number of licenses</div>
						</div>
						<div class="attribute">
							<div class="icon"><img src="<%=bucket%>/images/checkmarkIcon.png"></div>
							<div class="name">Tailored modules and DCS look</div>
						</div>
						<div class="attribute">
							<div class="icon"><img src="<%=bucket%>/images/checkmarkIcon.png"></div>
							<div class="name">Connection to Learning management systems</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="industryTestimonials" style="background-image:url(<%=bucket%>/images/industry.jpeg);">
		<div class="contentWidth">
			<div class="testimonialWrap">
				<div class="content">
					"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
				</div>
				<div class="person">
					<div class="image"><img src="<%=bucket%>/images/jasper.jpeg"></div>
					<div class="signature">
						<div class="name">Jasper Ruten <span>(plant manager)</span></div>
						<div class="company">Huntsman</div>
					</div>
				</div>
			</div>
			<div class="testimonialWrap">
				<div class="content">
					"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
				</div>
				<div class="person">
					<div class="image"><img src="<%=bucket%>/images/jasper.jpeg"></div>
					<div class="signature">
						<div class="name">Jasper Ruten <span>(plant manager)</span></div>
						<div class="company">Huntsman</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<%- include ("partials/footer") -%>