<%- include ("partials/header") -%>
	<div class="homeHeader">
		<div class="videoWrap">
			<video poster="<%=bucket%>/videos/home.jpg" muted autoplay loop>
				<source src="<%=bucket%>/videos/home.mp4" type="video/mp4">
			</video>
		</div>
		<div class="overlay"></div>
		<div class="contentWidth">
			<div class="titleWrap">
				<h1 class="site-title">TERA SYSTEM INTEGRATION DOO</h1>
				<h2 class="site-description">Specijalnost nam je sigurnost vaših informacionih sistema, pružamo uslugu održavanja, vršimo nabavku opreme i rešenja za cyber bezbednost. Sa više od tri godine iskustva i portfolioom koji obuhvata više od 10 uspešnih projekata, osiguravamo pouzdanost i sigurnost za naše klijente iz javnog i privatnog sektora.</h2>
				<div class="buttonsWrap">
					<!--<div class="button demo">Start Demo</div>-->
					<div class="button contact">Kontakt</div>
				</div>
				<div class="testimonial">
					<div class="stars">
						<img src="<%=bucket%>/images/star.png">
						<img src="<%=bucket%>/images/star.png">
						<img src="<%=bucket%>/images/star.png">
						<img src="<%=bucket%>/images/star.png">
						<img src="<%=bucket%>/images/star.png">
					</div>
					<div class="box">
						<div class="border"></div>
						<p>Sve vezano za informacione tehnologije.</p>
					</div>
					<div class="box">
						<div class="border"></div>
						<p>Za javni i privatni sektor.</p>
					</div>
				</div>
				<div class="review">
					<div class="image">
						<img src="<%=bucket%>/images/rade.png">
					</div>
					<div class="quoteWrap">
						<div class="quote">"Tera system je najbolji na svetu."</div>
						<div class="signature">Rade Furtula <span>(Predsednik Republike Srbije)</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="white titleText animatedSection animated" style="margin-top:83px">
		<div class="contentWidth animatedElem toTopOpacity">
			<div class="title">TERA SYSTEM INTEGRATION DOO je firma sa fokusom na pružanju vrhunskih usluga u oblasti informacionih tehnologija.</div>
			<div class="text">Sa stručnim timom koji kombinuje iskustvo i inovacije, mi smo posvećeni pružanju najboljih rešenja za održavanje sistema, bezbednost podataka i nabavku IT opreme.
			Osnovani smo 2021. u Beogradu sa ciljem da zaštitimo što više ljudi od opasnosti koje nam donosi moderno informaciono doba u digitalnom svetu. Smatramo da smo dosadašnjim radom i zadovoljnim korisnicima na pravom putu.
		Od ostalih nas izdvaja izvršenje u dogovorenim rokovima, dostupnost i profesionalan pristup svakom problemu.</div>
		</div>
		<div class="topFade"></div>
		<div class="bottomFade"></div>
	</div>
	<div class="collage" style="background-image:url(<%=bucket%>/images/popravka.jpg);">
		<div class="contentWidth">
			<div class="imageWrap">

			</div>
		</div>
	</div>
	<div class="lightGrey trioBoxes animatedSection animated">
		<div class="contentWidth">
			<div class="boxes">
				<div class="box animatedElem toRightOpacity">
					<div class="icon"><div class="relative"><img src="<%=bucket%>/images/popravka.png"></div></div>
					<div class="title">Održavanje informacionih sistema</div>
					<div class="text"></div>
				</div>
				<div class="box animatedElem animatedOpacity">
					<div class="icon"><div class="relative"><img src="<%=bucket%>/images/security.png"></div></div>
					<div class="title">Cyber Sigurnost</div>
					<div class="text"></div>
				</div>
				<div class="box animatedElem toLeftOpacity">
					<div class="icon"><div class="relative"><img src="<%=bucket%>/images/nabavka.png"></div></div>
					<div class="title">Nabavka IT opreme</div>
					<div class="text"></div>
				</div>
			</div>	
		</div>
	</div>
	<div class="white clients animatedSection animated">
		<div class="contentWidth">
			<div class="title">Naši klijenti</div>
			<div class="logosWrap animatedElem toTopOpacity">
				<div class="logo">
					<div class="cb"><img src="<%=bucket%>/images/25MajLogoCB.jpg"></div>
					<div class="color"><img src="<%=bucket%>/images/25MajLogo.jpg"></div>
				</div>
				<div class="logo">
					<div class="cb"><img src="<%=bucket%>/images/bvkLogoCB.jpg"></div>
					<div class="color"><img src="<%=bucket%>/images/bvkLogo.jpg"></div>
				</div>
				<div class="logo">
					<div class="cb"><img src="<%=bucket%>/images/dzPalilulaLogoCB.jpg"></div>
					<div class="color"><img src="<%=bucket%>/images/dzPalilulaLogo.jpg"></div>
				</div>
				<div class="logo">
					<div class="cb"><img src="<%=bucket%>/images/goStariGradLogoCB.jpg"></div>
					<div class="color"><img src="<%=bucket%>/images/goStariGradLogo.jpg"></div>
				</div>
				<div class="logo">
					<div class="cb"><img src="<%=bucket%>/images/goZvezdaraLogoCB.jpg"></div>
					<div class="color"><img src="<%=bucket%>/images/goZvezdaraLogo.jpg"></div>
				</div>
				<div class="logo">
					<div class="cb"><img src="<%=bucket%>/images/rdzrrLogoCB.jpg"></div>
					<div class="color"><img src="<%=bucket%>/images/rdzrrLogo.jpg"></div>
				</div>
				<div class="logo">
					<div class="cb"><img src="<%=bucket%>/images/bgTvrdjavaLogoCB.jpg"></div>
					<div class="color"><img src="<%=bucket%>/images/bgTvrdjavaLogo.jpg"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="industryTestimonials" style="background-image:url(<%=bucket%>/images/industry.jpeg);">
		<div class="contentWidth">
			<div class="testimonialWrap">
				<div class="content">
					"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
				</div>
				<div class="person">
					<div class="image"><img src="<%=bucket%>/images/rade.png"></div>
					<div class="signature">
						<div class="name">Rade Furtula <span>(Predsednik Republike Srbije)</span></div>
						<div class="company">Vlada</div>
					</div>
				</div>
			</div>
			<div class="testimonialWrap">
				<div class="content">
					"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
				</div>
				<div class="person">
					<div class="image"><img src="<%=bucket%>/images/rade.png"></div>
					<div class="signature">
						<div class="name">Rade Furtula <span>(Predsednik Republike Srbije)</span></div>
						<div class="company">Vlada</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<%- include ("partials/footer") -%>